/target
/syntax
/.idea
/.vscode
/examples/bin/
/examples/int/
/examples/raw/
/examples/debug/
/examples/tests/
/examples/GUI/
/examples/Windows/createFile.spl
/tests/
names.txt
ideas.txt
debug.log
/src/std.spl
/editor/highlighting/nvim/
/editor/highlighting/vscode/spl/autocomplete
/editor/highlighting/vscode/spl/extension
/editor/highlighting/vscode/spl/extension.vsix
/tools/.vscode
/sopl_test/
/lighthouse/
/doodle/
**/*.lock
**/*.exe
**/*.o
/soplc/libs/fs/

