/target
/syntax
/.idea
/.vscode
/examples/bin/
/examples/int/
/examples/raw/
/examples/debug/
/examples/tests/
/examples/GUI/
/examples/Windows/createFile.spl
/tests/
names.txt
ideas.txt
build.py
debug.log
/src/std.spl
/editor/highlighting/nvim/
/editor/highlighting/vscode/spl/autocomplete
/editor/highlighting/vscode/spl/extension
/editor/highlighting/vscode/spl/extension.vsix
/waterfall/
/tools/.vscode
/tools/sopl_test.exe
/tools/sopl_test/target/
/tools/lighthouse/
/doodle/